@font-face {
    font-family: 'Gotham Book';
    src: url('GothamBook.eot');
    src: url('GothamBook.eot?#iefix') format('embedded-opentype'),
    url('GothamBook.woff2') format('woff2'),
    url('GothamBook.woff') format('woff'),
    url('GothamBook.ttf') format('truetype'),
    url('GothamBook.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    -webkit-appearance:0; 
    -moz-border-radius:0px; 
    -webkit-border-radius:0px;
    border-radius:0px;
    outline-width:0px;
}
html {
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
}
a, input, button {
    text-decoration:none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
a:hover {
    text-decoration:none;
}
a img, img {
    border:0px;
    max-width:100%;
    text-decoration: none;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
a:hover, a:focus, a:visited, a:active {
    outline:none;
    text-decoration:none;
}
.no-gutter {
    margin: 0 !important;
    padding: 0 !important;
}
p { 
    margin:0px;
    line-height:normal;
}
ul{ 
    margin:0px;
    padding:0px;
}
body {
    width:100%;
    height:100%;
    font-family: 'Noto Sans', sans-serif;
    font-size:14px;
    font-weight:400;
}
header {
}
.top-header {
    background-color:#4fcbd9;
    width:100%;
    height:24px;
}
.login-btn {
    position:absolute;
    right:4%;
    top:2px;
    font-family: 'Oswald', sans-serif;
    font-size:12px;
    font-weight:400;
    color:#FFFFFF;
    border:1px solid #FFFFFF;
    border-radius: 50px;
    width:80px;
    text-align: center;
    background: rgba(0,0,0,0);
}
.bottom-header {
    position:relative;
}
.bottom-header > img {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    width:100%;
    height:auto;
}
.banner-shadow {
    left: 0px;
    position: absolute;
    right: 0px;
    top:0px;
    width:100%;
    height:100% !important;
}
.header-parts {
    left: 0;
    position: absolute;
    top: 0px;
    width:100%;
    z-index:10;
}
.logo {
    margin-top:22px;
}
.logo-text-line {
    color: #ffffff;
    display: inline-block;
    font-family: "Oswald",sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-left: 5px;
    margin-top: 7px;
    text-transform: uppercase;
    vertical-align: middle;
}
.logo a {
    display: inline-block;
}
.logo img {
    height: 75px;
}
.primary-menu ul {
    list-style:none;
}
.primary-menu ul li {
    display:inline-block;
    padding: 22px 9px 5px;
    position:relative;
}
.primary-menu ul li a {
    font-family: "Oswald",sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#FFFFFF;
    text-transform: uppercase;
}
.primary-menu > ul > li:hover {
    background:rgba(87,87,87, 0.8);
}
.primary-menu > ul > li.current-item {
    border-bottom: 5px solid #ff822b;
}
.primary-menu ul li ul {
    position:absolute;
    top:48px;
    display:none;
    min-width:200px;
    padding:5px 15px;
    background:rgba(87,87,87, 0.8);
    border-bottom: 5px solid #ff822b;
    z-index:2;
}
.primary-menu > ul > li:not(:last-child) > ul {
    left:0px;
}
.primary-menu > ul > li:last-child > ul {
    right:0px;
}
.primary-menu ul li:hover ul {
    display:block;
}
.primary-menu ul li ul li {
    border-bottom: 1px solid #8c8c8c;
    display: block;
    padding: 10px 0px;
}
.primary-menu ul li ul li:last-child {
    border:none;
}
.primary-menu ul li:hover > a, .primary-menu ul li > a:hover  {
    color:#ff822b;
} 
.page-title {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}
.page-title h2 {
    font-family: "Oswald",sans-serif;
    font-size: 32px;
    font-weight: 400;
    color:#FFFFFF;
    text-transform:uppercase;
}
.page-title h1 {
    color: #ffffff;
    font-family: "Noto Sans",sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 30px;
}
.middle-menu {
    background:#272828;
    padding:18px 0px;
}
.middle-menu ul {
    display: block;
    list-style:none;
    text-align:center;
}
.middle-menu ul li {
    display:inline-block;
    padding:0% 5%;
}
.middle-menu ul li a {
    color:#cecccc;
    text-transform: uppercase;
}
.middle-menu ul li a:hover {
    color:#FFFFFF;
} 
.content-wrapper {
    padding:60px 0px;
}
.content h3 {
    font-family: "Oswald",sans-serif;
    font-size: 25px;
    font-weight: 400;
    color:#ff822b;
    text-transform: uppercase;
    margin-bottom:5px;
    margin-top:0px;
}
.tlg-calender {
    float:left;
    width:48.5%;
    display:inline-block;
}
.monthly-leader-board {
    float:right;
    width:48.5%;
    display:inline-block;
}
.tlg-calender > p {
    margin:30px 0px 15px;
    font-family: 'Noto Sans', sans-serif;
    font-size:18px;
    font-weight:400;
    color:#161518;
}
.homepage-event {
    margin:10px 0px 15px;
    background-color:#f7f3f3;
    position:relative;
}
.event-image {
    display:block;
    position:relative;
}
.event-image > img {
    height: auto;
    width: 100%;
}
.event-overlay {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:25%;
    background:rgba(22,21,24,0.8);
    padding:10px;
    max-width:105px;
}
.event-overlay img {
    width:37px;
    float:left;
    margin-right:10px;
}
.home-event-date {
    font-family: "Oswald",sans-serif;
    font-size: 30px;
    font-weight: 400;
    color:#ffffff;
    line-height:34px;
}
.home-event-month, .home-event-year {
    color: #ffffff;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    margin-left: 47px;
}
.event-content {
    padding:20px 20px 30px;
}
.event-content h4 {
    color: #ff944c;
    font-family: "Noto Sans",sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0px;
}
.event-content span {
    color:#7e7f7f;
}
.event-content .breaker {
    background-color:#ff944b;
    width:8%;
    height:4px;
    margin:10px 0px;
}
.event-content .event-excerpt {
    font-family: "Noto Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#161518;
}
.event-content .view-button {
    border: 1px solid #ff954b;
    border-radius: 100px;
    float: right;
    font-size: 12px;
    margin-top: 15px;
    padding: 5px 15px;
    text-transform: uppercase;
}
.event-content .view-button:hover {
    color: #f7f3f3;
    background-color: #ff954b;
}
.monthly-leader-board > p {
    color: #161518;
    font-family: "Noto Sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform:uppercase;
}
.list-headers h4 {
    color: #ff822b;
    display: inline-block;
    font-family: "Noto Sans",sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    margin:0px 0px 16px;
}
.list-headers h4:first-child {
    margin-left: 31%;
}
.list-headers h4:nth-child(2) {
    margin-left: 20%;
}
.list-headers h4:last-child {
    margin-left: 5%;
}
.home-agent {
    background-color:#f7f3f3;
    margin-bottom:5px;
}
.home-agent:hover {
    cursor:pointer;
}
.home-count {
    background-color: #4fcbd9;
    color: #ffffff;
    display:table-cell;
    font-family: "Oswald",sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 18px;
    width:60px;
}
.home-agent:hover .home-count{
    background-color: #ff944c;
}
.home-agent:hover .home-agent-name, .home-agent:hover .home-agent-ap, .home-agent:hover .home-agent-apcount {
    color: #ff944c;
}
.home-agent-image {
    display:table-cell;
    padding:0px 25px 0px 20px;
    vertical-align:middle;
}
.home-agent-image > img {
    height: auto;
    width: 50px;
}
.home-agent-name, .home-agent-apcount, .home-agent-ap {
    display: table-cell;
    vertical-align: middle;
    font-family: "Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#161518;
}
.home-agent-name {
    padding:0px 20px 0px 15px;
    text-align: center;
    width: 27%;
}
.home-agent-ap {
    padding:0px 17px 0px 50px;
}
.home-agent-apcount {
    padding:0px 0px 0px 45px;
}
.print-button {
    text-align: center;
    padding:30px 0px 30px;
}
.print-button img {
    width: 28px;
}
.print-button a {
    border: 2px solid #161518;
    border-radius: 200px;
    color: #161518;
    font-family: "Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 30px 14px;
}
footer {
    background:url('../../images/footer-background.jpg') no-repeat center center rgba(0,0,0,0);
}
.top-footer {
    padding:60px 0px;
}
.footer-menu {
    list-style:none;
    margin-bottom:65px;
}
.footer-menu li a {
    font-family: 'Noto Sans', sans-serif;
    font-size:14px;
    font-weight:400;
    color:#FFFFFF;
    line-height:25px;
}
.footer-menu li a:hover {
    color:#ff822b;
}
.top-footer p a {
    font-family: 'Noto Sans', sans-serif;
    font-size:14px;
    font-weight:400;
    color:#FFFFFF;
    line-height:25px;
    padding:0px 30px 0px 0px;
}
.top-footer p a:hover {
    color:#ff822b;
}
.top-footer h4 {
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:#ff822b;
    text-transform: uppercase;
    margin:0px 0px 30px;
}
.blog-entry {
    margin-bottom:30px;
}
.blog-entry:last-child {
    margin-bottom:15px;
}
.blog-featured-image {
    float: left;
    width: 64px;
    margin-right:5px;
}
.blog-featured-image img {
    width:64px;
    height:auto;
}
.blog-text {
    display: inline;
}
.blog-text h5 {
    color: #ffffff;
    font-family: "Noto Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}
.blog-text p {
    color: #ffffff;
    font-family: "Noto Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.social-links li {
    display:inline-block;
    padding:0px 4px;
}
.social-links a {
    display: block;
}
.social-links li img {
    width:40px;
    height:40px;
}
.social-links li img:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);

}
.social-links li:first-child {
    padding-left:0px;
}
.social-links li:last-child {
    padding-right:0px;
}
.twitter-feed iframe {
    height:200px !important;
}
.top-footer p.details, .top-footer p.details a {
    color: #ffffff;
    font-family: "Noto Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
    margin-left: 42px;
}
.top-footer p.details a:hover {
    color: #ff822b;
}
.top-footer p.details a {
    margin-left:0px;
}
.top-footer img.foot-image {
    float:left;
}
.bottom-footer {
    background:rgba(79,203,217,0.5);
    padding:20px 0px;
}
.copyright {
    color: #ffffff;
    font-family: "Noto Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    float: left;
}
.bottom-footer-social {
    list-style: none;
    float:right;
}
.bottom-footer-social li {
    display:inline-block;
    padding:0px 3px;
}
.bottom-footer-social img {
    height: 16px;
}
#my-icon {
    display: none;
    float: right;
    margin-top: 10px;
}
.mm-listview > li > a, .mm-listview > li > span {
    color: #fff;
}
.res_logo > img {
    display: inline;
    margin-top: 10px;
    max-width: 70%;
}
.res_logo {
    display: inline-block;
    text-align: center;
    width: 100%;
}
/****** E & O INSURANCE PAGE CODE STARTS ******/
.insurance-content strong {
    display: block;
    font-family: "Noto Sans",sans-serif;
    font-size: 16px;    
    font-weight: 700;
    color:#191716;
    margin:5px 0px;
}
.insurance-content p {
    font-family: "Noto Sans",sans-serif;
    font-size: 14px;    
    font-weight: 400;
    color:#666666;
    line-height:24px;
}
.insurance-content p span.big-letters {
    font-family: "Noto Sans",sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
}
.insurance-content p span.big-letters a {
    color: #ff822b;
    text-decoration:underline;
}
/****** E & O INSURANCE PAGE CODE ENDS ******/
/****** QUOTE - 911 PAGE CODE STARTS ******/
.quote-content h2 {
    font-family: "Oswald",sans-serif;
    font-size: 50px;
    font-weight: 400;
    color:#ff822b;
    margin-top:0px;
}
.quote-content h4 {
    font-family: "Oswald",sans-serif;
    font-size: 22px;
    font-weight: 400;
    color:#ff822b;
    text-transform:uppercase;
}
.quote-content img {
    display:inline-block;
    margin:30px 30px 35px 0px;
}
.quote-content strong {
    display:inline-block;
    vertical-align: middle;
    font-size:14px;
    margin:0px;
    line-height:24px;
}
.quote-content .big-letters {
    font-size:18px;
}
/****** QUOTE - 911 PAGE CODE ENDS ******/
/****** CONTACT PAGE CODE STARTS ******/
.contact-content {
    text-align:center;
}
.contact-content h4 {
    color: #ff822b;
    font-family: "Oswald",sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.contact-file-upload {
    margin:60px 0px 70px;
}
.left-div {
    float:left;
}
.right-div {
    float:right;
}
.contact-file-upload .right-div, .contact-file-upload .left-div  {
    width:49%;
    background-color:#f3f2f2;
    padding:20px 40px;
    text-align:left;
}
.contact-file-upload a {
    font-family: "Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:#191716;
    display:block;
}
.file-image {
    display: table-cell;
}
.file-image img {
    height:50px;
    padding:5px 35px 5px 0px;
    border-right:1px solid #dcdcdc;
}
.file-name {
    display: table-cell;
    vertical-align: middle;
    padding-left:35px;
}
.contact-details {
    padding:25px;
    border: 1px solid #CECECE;
    text-align:left;
    width:29%;
}
.contact-details p, .contact-details p a {
    font-size:12px;
    color:#6f6e72;
}
.contact-details p a:hover {
    color:#ff822b;
} 
.contact-address, .contact-phone, .contact-email {
    font-family: "Noto Sans",sans-serif;
    font-size: 12px !important;
    font-weight: 400 !important;
    color:#ff822b !important;
    text-transform:uppercase;
}
.contact-phone, .contact-email {
    margin-top:25px;
}
.contact-form {
    width:68%;
}
.contact-input-text {
    display:inline-block;
    width:48%;
    float:left;
}
.contact-input-email {
    display:inline-block;
    width:48%;
    float:right;
}
.contact-input-email input, .contact-input-text input {
    border:1px solid #cecece;
    padding:10px 15px;
}
.contact-text textarea {
    margin-top: 4%;
    width: 100%;
    border:1px solid #cecece;
    padding:10px 15px;
    height:196px;
}
.contact-submit {
    margin-top: 4%;
    text-align:left;
}
.contact-submit input {
    border-radius:0px !important;
    font-size:13px;
    font-weight:700;
    background-color:#ff822b !important;
}
#map {
    height: 450px;
}
/****** CONTACT PAGE CODE ENDS ******/
/****** PRODUCT STATE AVAILABILITY PAGE CODE STARTS ******/
.note-line {
    font-family: "Noto Sans",sans-serif;
    font-size: 20px !important;
    font-weight: 400 !important;
    text-align:center;
    color:#ff822b;
    text-transform: uppercase;
}
.product-state-list-items {
    padding:40px 0px 20px;
    border-bottom:1px solid #d3d1d1;
}
.product-state-list-items:last-child {
    border:none;
}
.product-state-column-image {
    display:inline-block;
    width:49%;
}
.product-state-column-content {
    display:inline-block;
    width:49%;
    vertical-align:middle;
    padding:20px;
}
.product-state-column-content h4 {
    font-family: "Oswald",sans-serif;
    font-size: 50px;
    color: #191716;
}
.product-state-column-content p {
    font-family:"Noto Sans",sans-serif;
    font-size:14px;
    font-weight:400;
    color: #666666;
}
.download-div {
    margin-top:20px;
}
.download-div a.viewbtn {
    background-color: #ff822b;
    border-radius: 100px;
    color: #FFFFFF;
    display: inline;
    padding: 8px 30px;
    letter-spacing: 1px;
    text-transform:uppercase;
}
.download-div > span {
    margin:0px 40px;
}
.download-div .downloadbtn {
    font-family: "Noto Sans",sans-serif;
    font-size:16px;
    font-weight:400px;
    color:#ff822b;
}
.download-div .downloadbtn img {
    display:inline-block;
    margin-right:20px;
    vertical-align:bottom;
}
.download-details {
    display: inline-block;
    position: relative;
}
.download-file-details {
    bottom: -22px;
    left: 0;
    position: absolute;
    width: 200px;
    font-family:"Noto Sans",sans-serif;
    font-size:14px;
    color:#434d53;
}
/****** PRODUCT STATE AVAILABILITY PAGE CODE ENDS ******/
/****** TLG2 INVENTORY SHEETS PAGE CODE STARTS ******/
h3.inventory-sheets-title {
    text-transform:uppercase;
}
.inventory-lists {
    margin:10px 0px 30px;
}
.inventory-list-item {
    padding:30px 0px 40px;
    border-bottom:1px solid #d3d1d1;
}
.inventory-list-item:last-child {
    border:none;
}
.inventory-list-item h4 {
    font-family: "Oswald",sans-serif;
    font-size: 50px;
    color: #191716;
}
.inventory-list-item p {
    font-family:"Noto Sans",sans-serif;
    font-size:14px;
    font-weight:400;
    color: #666666;
}
/****** TLG2 INVENTORY SHEETS PAGE CODE ENDS ******/
/****** WEBINARS PAGE CODE STARTS ******/
.webinars-list {
    margin:30px 0px;
}
.webinars-list-items {
    width:48.5%;
    display:inline-block;
    margin-top:1.5%;
    margin-bottom:1.5%;
    position:relative;
}
.webinars-list-items:nth-child(even) {
    margin-left:1.0%;
}
.webinars-list-items:nth-child(odd) {
    margin-right:0.5%;
}
.webinar-overlay {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    padding:25px;
    display:inline-table;
}
.webinar-overlay-content {
    display: table-cell;
    vertical-align: bottom;
}
.webinar-overlay-content span.date {
    color: #ffffff;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
}
.webinar-overlay-content .breaker {
    background-color: #ff944b;
    height: 3px;
    margin-top:3px;
    width: 20px;
}
.webinar-overlay-content h4 {
    font-family: "Noto Sans",sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom:0px;
}
.webinar-overlay-content span.time {
    color: #ffffff;
    font-family: "Noto Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.webinar-overlay-content .view-webinar-btn {
    border: 1px solid #ff954b;
    border-radius: 100px;
    float: right;
    font-size: 12px;
    margin-top: 15px;
    padding: 5px 15px;
    text-transform: uppercase;
}
.webinar-overlay-content .view-webinar-btn:hover {
    color:#FFFFFF;
    background-color:#ff822b;
}
/****** WEBINARS PAGE CODE ENDS ******/
/****** LEADS PAGE CODE STARTS ******/
.leads-content > img{
    width:50%;
    float:left;
    margin-right:5%;
}
.leads-content h3{
    font-size:36px;
    text-transform:uppercase;
}
.leads-content strong{
    font-size:17px;
    text-transform:uppercase;
    margin:15px 0px;
}
.leads-content p {
    margin-bottom:7px;
    font-size: 12px;
}
.leads-options-accordian {
    margin:50px 0px 25px;
}
.leads-options-accordian h4 {
    color: #ff822b;
    font-family: "Oswald",sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform:uppercase;
    margin-bottom:25px;
}
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
.accordion-section {
    margin-bottom:20px;
}
.accordion-section-title {
    display: inline-block;
    margin-bottom: 10px;
    transition: all 0.15s linear 0s;
    font-family: "Noto Sans",sans-serif;
    font-size:20px;
    font-weight:400;
    color:#a0a0a0;
}
.accordion-section-title:hover, .accordion-section-title.active {
    color:#161518;
}
.accordion-section-title img {
    width:35px;
    margin-right:30px;
}
.accordian-plus {
    border: 1px solid #a0a0a0;
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    height: 45px;
    text-align: center;
    width: 45px;
    margin-right:40px;
    vertical-align: middle;
}
.accordian-minus {
    border: 1px solid #4fcbd9;
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    color:#FFFFFF;
    height: 45px;
    text-align: center;
    width: 45px;
    margin-right:40px;
    background-color:#4fcbd9;
    vertical-align: middle;
}
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
.accordion-section-content {
    display: none;
    padding: 15px 15px 15px 86px;
}
.accordion-section-content p {
    font-family: "Noto Sans",sans-serif;
    font-size: 14px;
    font-weight:400;
    color:#ff822b;
}
.lead-guidelines h4 {
    color: #ff822b;
    font-family: "Oswald",sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform:uppercase;
    margin-bottom:25px;
    letter-spacing: 2px;
}
.lead-guidelines h5 {
    color: #ff822b;
    font-family: "Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin:15px 0px;
}
/****** LEADS PAGE CODE ENDS ******/
/****** BILL ME ENROLLMENT PAGE CODE STRATS ******/
.bill-me-content > p {
    text-indent:50px;
    margin-bottom:15px;
}
.special-box {
    margin:30px 0px;
    border:1px solid #ff822b;
    padding:20px;
}
.special-box p {
    text-indent: 0px;
    margin:0px;
}
.bill-form-text {
    display: inline-block;
    margin: 0px 0px 30px;
    width: 100%;
}
.bill-form-text p {
    font-family: "Noto Sans",sans-serif;
    font-size: 14px;
    font-weight: 700;
    color:#161518;
    text-indent:50px;
}
.bill-form {
    margin:30px 0px 0px;
}
.bill-form input {
    border-bottom:1px solid #aaaaaa;
    margin-top:20px;
    font-style:italic;
    padding:10px 20px;

}
.bill-form textarea {
    border: 1px solid #aaaaaa;
    font-style: italic;
    margin-top: 50px;
    padding: 10px 20px;
    width: 100%;
    height:250px;
}
.description span {
    font-family: "Noto Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style:italic;
    color: #808080;
    margin-top:10px;
    display:block;
}
.bill-form input[name="state"] {
    width:45%;
    display:inline-block;
    margin-right:5%;
}
.bill-form input[name="zip"] {
    width:45%;
    display:inline-block;
    margin-left:5%;
}
.bill-form input[type="checkbox"] {
    margin-top:50px;
}
.check-div label {
    position: relative;
    padding-left: 45px;
    font-family: "Noto Sans",sans-serif;
    font-size: 14px;
    font-weight:400;
    cursor: pointer;
    margin-top:40px;
    text-tranform:uppercase;
}
.check-div label:before, label:after {
    font-family: 'FontAwesome';
    font-size: 25px;
    font-weight:400;
    position: absolute; 
    top: -6px; 
    left: 2px;
}
.check-div label:before {
    content: '\f096'; 
}
.check-div label:after {
    content: '\f046'; 
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    transition: all 0.35s;
}
.check-div input[type="checkbox"] {
    display: none;
}
.check-div input[type="checkbox"]:checked + label:after {
    max-width: 25px; 
    opacity: 1;
}
.check-div #one + label:before, #one + label:after { color:#ff822b; }
.check-div img {
    display:block;
    width: 180px;
    height:auto;
    margin-top:10px;
}
.bill-form input[type="submit"] {
    background: #5cb123 none repeat scroll 0 0;
    border: 1px solid #5cb123;
    border-radius: 25px;
    color: #FFFFFF;
    padding: 10px 30px;
    font-style:normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/****** BILL ME ENROLLMENT PAGE CODE ENDS ******/
/****** CLASSES PAGE CODE STARTS ******/
.classes-content, .classes-sidebar {
    padding:0px 15px;
    margin-bottom:50px;
}
.classes-content .nav.nav-tabs li a, .classes-content .nav.nav-tabs li a:hover {
    font-family: "Oswald",sans-serif;
    font-size:26px;
    font-weight:normal;
    color:#ff822b;
    border:none;
}
.classes-content .nav.nav-tabs li.active a {
    background-color:#ff822b;
    color:#FFFFFF;
    border:none;
}
.classes-content .nav > li > a:focus, .classes-content .nav > li > a:hover {
    text-decoration: none;
    background-color:rgba(0,0,0,0);
}
.tab-content {
    padding:30px 0px;
}
#tlg_agent_orientation > p {
    margin-top:20px;
    color:#161518;
}
.modules-list {
    margin-top:40px;
}
.module {
    margin-bottom: 20px;
}
.module-title {
    background-color:#f5f5f5;
    font-family: "Oswald",sans-serif;
    font-size:20px;
    font-weight:normal;
    color:#161518;
    padding:15px 25px;
}
.wpcw_fe_module {
    background-color:#f5f5f5;
    font-family: "Oswald",sans-serif;
    font-size:20px;
    font-weight:normal !important;
    color:#161518;
    padding:15px 25px;
}
.module-description p {
    font-family: "Noto Sans",sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#161518;
    padding:12px 25px 10px;
}
.module-chapter-list {    
}
.module-chapter-list ul {
    list-style:none;
}
.module-chapter-list li {
    padding: 12px 25px;
    border-bottom:1px solid #e6e6e6;
}
.module-chapter-list li:last-child {
    border:none;
}
.module-chapter-list li a:hover {
    text-decoration: underline;
    color:#ff822b;
}
.duration {
    color:#666666;
}
.chapter-status {
    float:right;
}
.chapter-status img {
    vertical-align: middle;
}
.chapter-unit {
    float:right;
    margin-left:30px;
    color:#161518;
}
.classes-sidebar h3 {
    font-size: 28px;
    margin: 15px 0px;
}
.search-form input {
    padding: 10px;
    width: 200px;
    border:none;
    font-family: "Noto Sans",sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#161518;
    border:1px solid #FFFFFF;
}
.search-form input:focus {
    border:1px solid #ff822b;
}
.sidebar-widget {
    display:block;
    margin:10px 0px;
}
.sidebar-widget h4 {
    font-family: "Noto Sans",sans-serif;
    font-size:16px;
    font-weight:700;
    color:#ff822b;
    text-transform:uppercase;
    border-bottom:1px solid #d9d8d8;
    padding:10px 0px;
}
.side-menu ul {
    list-style:none;
}
.side-menu ul li {
    padding:5px;
}
.side-menu ul li a {
    font-family: "Noto Sans",sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#161518;
}
.side-menu ul li a:hover {
    color:#ff822b;
}
.custommenu {
    list-style:none;
}
.custommenu li {
    padding:10px 0px;
    border-bottom:1px solid #d9d8d8;
}
.custommenu li a {
    font-family: "Noto Sans",sans-serif;
    font-size:16px;
    font-weight:700;
    color:#161518;
    text-transform:uppercase;
}
.custommenu li a:hover {
    color:#ff822b;
}
/****** CLASSES PAGE CODE ENDS ******/
/****** VIDEO TRAINING PAGE CODE STARTS ******/
.video-subject {
    border-left:5px solid #ff822b;
    padding-left:35px;
    margin-bottom:40px;
}
.subject-title {
    font-family: "Noto Sans",sans-serif;
    font-size:18px;
    color:#191716;
    text-transform: capitalize;
    margin-bottom:20px;
}
.subject-video {
    padding:40px 0px 35px;
    border-bottom:1px solid #98abca;
}
.subject-video:first-of-type {
    padding-top:0px;
}
.subject-video:last-child {
    border:none;
}
.subject-video > iframe {
    height: 450px;
    width: 100%;
    margin-bottom:10px;
}
.subject-video h4 {
    color: #ff822b;
    display: inline-block;
    font-family: "Oswald",sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    vertical-align: middle;
    line-height:normal;
}
.subject-video .video-code {
    color: #333333;
    display: inline-block;
    font-family: "Noto Sans",sans-serif;
    font-size: 18px;
    margin-left: 15px;
    vertical-align: middle;
}
.subject-video .video-time {
    color: #161518;
    display: inline-block;
    float: right;
    font-family: "Oswald",sans-serif;
    font-size: 28px;
    font-weight: normal;
}
.subject-video p {
    font-family: "Noto Sans",sans-serif;
    font-size: 14px;
    font-weight:400;
    color:#666666;
    margin: 10px 0px 0px;
}
/****** VIDEO TRAINING PAGE CODE ENDS ******/
/****** QUOTE CENTER PAGE CODE STARTS ******/
.col-md-10.quote-center-content {
    margin-bottom: 30px;
}
.quote-center-content .accordion-section-title {
    background-color: #f5f5f5;
    color: #191716;
    display: block;
    font-family: "Noto Sans",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 50px;
    text-transform: uppercase;
    margin-bottom:0px;
}
.quote-center-content  .accordion-section-content {
    border:1px solid rgba(0, 0, 0, 0.08);
    padding:30px 50px 30px 50px;
}
.quote-center-accordian .accordian-plus {
    border: medium none;
    float: right;
    font-size: 30px;
    height: 50px;
    margin: 0;
    width: 50px;
    background-color:#fa7f2a;
    color:#FFFFFF;
    line-height:46px;
}
.quote-center-accordian .accordian-minus {
    background-color: #4fcbd9;
    border: medium none;
    float: right;
    font-size: 30px;
    height: 50px;
    margin: 0;
    width: 50px;
    color:#FFFFFF;
    line-height:45px;
}
.quote-center-accordian .accordion-section-content p {
    color: #191716;
    font-family: "Noto Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.quote-center-sidebar h3 {
    color: #ff822b;
    font-family: "Oswald",sans-serif;
    font-size: 28px;
    margin: 0px;
    padding:0px 0px 10px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom:1px solid #ff822b;
}
.quote-center-sidebar .side-menu {
    margin:30px 0px 50px;
}
.quote-center-sidebar .side-menu ul li {
    padding:0px;
}
.quote-center-sidebar .side-menu ul li a {
    font-family: "Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #383838;
    display:block;
    padding:18px 0px 18px 30px;
}
.quote-center-sidebar .side-menu ul li:nth-child(2n) a {
    background-color:#f6f6f6;
}
.quote-center-sidebar .side-menu ul li:nth-child(2n+1) a {
    background-color:#eaeaea;
}
.quote-center-sidebar .side-menu ul li a:hover, .quote-center-sidebar .side-menu ul li.active a {
    background-color:#383838;
    color:#FFFFFF;
}
/****** QUOTE CENTER PAGE CODE ENDS ******/
/****** CARRIER CONTACT INFO PAGE CODE STARTS ******/
.col-md-9.carrier-contact-content {
    margin-bottom: 70px;
}
.carrier-contact-content h4 {
    font-family: "Oswald",sans-serif;
    font-size: 25px;
    font-weight:400;
    color: #ff822b;
}
/*.downbtn {
    display:inline-block;
    position:relative;
    padding:10px 18px;
    border:2px solid #cdcdcd;
    border-radius: 15px;
    margin:10px 0px;
    color:#000000;
    font-size:16px;
    font-weight:400;
    }*/
    .downbtn {
        display: inline-block;
        position: relative;
        padding: 12px 18px;
        border: 2px solid #cdcdcd;
        border-radius: 15px;
        margin: 10px 0px;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
        height: 65px;
    }
    .downbtn:hover {
        color:#ff822b;
    }
    .downbtn > img {
        height: auto;
        width: 40px;
        float: left;
        margin-right: 10px;
    }
    .downbtn > span {
        color: #434d53;
        display: block;
        font-family: "Noto Sans",sans-serif;
        font-size: 14px;
        width: 221px;
        margin: 8px;
    }

    /****** CARRIER CONTACT INFO PAGE CODE ENDS ******/
    /****** TRAINING DOCUMENTS PAGE CODE STARTS ******/
    .form-depot-accordian .accordion-section {
        margin-bottom: 0px;
    }
    .form-depot-accordian .accordion-section-title {
        border-bottom: 1px solid #ff822b;
        color: #ff822b;
        font-family: "Oswald",sans-serif;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 5px;
        padding: 10px 0 15px;
        width: 100%;
    }
    .form-depot-accordian .accordian-plus {
        border: medium none;
        color: #fa7f2a;
        float: right;
        font-size: 50px;
        height: auto;
        line-height: 30px;
        margin: 0px;
        vertical-align: middle;
        width: auto;
        background-color:transparent;
    }
    .form-depot-accordian .accordian-minus {
        border: medium none;
        color: #fa7f2a;
        float: right;
        font-size: 50px;
        height: auto;
        line-height: 18px;
        margin: 0px;
        vertical-align: middle;
        width: auto;
        background-color:transparent;
    }
    .form-depot-accordian .accordion-section-content {
        padding:20px 0px 20px;
    }
    .form-depot-accordian .accordion-section-content p {
        color: #191716;
        font-family: "Noto Sans",sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    /****** TRAINING DOCUMENTS PAGE CODE ENDS ******/
    /****** PAY INVOICES PAGE CODE STARTS ******/
    .card-icons {
        margin:30px 0px 30px;
    }
    .card-icons img {
        height:20px;
        margin:0px 10px;
    }
    .payinvoice-content p, .payinvoice-content h3, .payinvoice-content strong, .bill-form .row {
        padding:0px 15px;
    }
    .bill-form input[name="expiration-month"], .bill-form input[name="expiration-year"] {
        display: inline-block;
        margin-right: 8%;
        width: 16%;
    }
    .bill-form .col-sm-6 > span {
        display: block;
    }
    .card-fields input {
        margin:0px 0px 30px;
    }
    .card-fields #cvv-field {
        width:150px;
    }
    .card-fields img.tooltipimg {
        cursor:pointer;
        margin-left: -25px;
    }
    .card-fields select {
        border: none;
        border-bottom: 1px solid #aaaaaa;
        padding: 10px 20px;
        margin:0px 30px 30px 0px;
        font-style: italic;
        width:150px;
    }
    .bill-check-div strong {
        line-height:28px;
    }
    .bill-accept-btn {
        margin:40px 0px;
        padding:0px 15px;
    }
    .accept-policy, .decline-policy {
        background: transparent;
        border: none;
        color: #a3a1a0;
        padding: 10px 30px;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .active-policy-btn {
        background: #5cb123 none repeat scroll 0 0;
        border: 1px solid #5cb123;
        border-radius: 25px;
        color: #FFFFFF;
        padding: 10px 30px;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .secure-img-div {
        margin:10px 0px;
        padding:0px 15px;
    }
    .secure-img-div img {
        margin:0px 10px 0px 0px;
    }
    .secure-img-div input[type="submit"] {
        margin-top:0px;
        display:block;
        margin:10px 0px 20px;
        background-color:#ff954b;
        border: 1px solid #ff954b;
        padding:15px 40px;
    }
    /****** PAY INVOICES PAGE CODE ENDS ******/
    /****** AUDIO TRAINING PAGE CODE STARTS ******/
    .audio-subject {
        border-left: 5px solid #ff822b;
        margin-bottom: 40px;
        padding-left: 35px;
    }
   .subject-title {
	color: #000;
	display: inline-block;
	font-family: "Oswald",sans-serif;
	font-size: 21px;
	font-weight: 100;
	line-height: normal;
	margin-bottom: 15px;
	vertical-align: middle;
}
    .subject-audio {
        border-bottom: 1px solid #98abca;
        padding: 20px 0px 20px;
    }
    .subject-audio:first-of-type {
        padding-top: 0;
    }
    .subject-video:last-child {
        border: medium none;
    }
    .subject-audio > img {
        width: 150px;
        float:left;
    }
    .audio-box {
        display: inline-block;
        width: 81%;
    }
    .audio-box h4 span {
        color: #333333;
        display: block;
        font-family: "Noto Sans",sans-serif;
        font-size: 16px;
        vertical-align: middle;
        margin:10px 0px;
    }
    .audio-box h4 {
        display: inline-block;
        color: #161518;
        font-family: "Oswald",sans-serif;
        font-size: 28px;
        font-weight: normal;
        text-transform:uppercase;
        margin-left:20px;
    }
    .audio-box > audio {
        display: inline-block;
        margin-left: 20px;
        width: 50%;
        vertical-align: middle;
    }
    .audio-downbtn {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        padding: 0 10px;
    }
    .audio-downbtn img {
        width:20px;
        height:auto;
    }
    /****** AUDIO TRAINING PAGE CODE ENDS ******/
    /****** Calender PAGE CODE STARTS ******/
    .calen_blog_row {
        display: block;
        margin: 0 0 20px;
        background: #f3f2f2;
        padding: 25px 10px;
        border-radius: 3px;
    }
    .small_padd_calendar {
        padding: 0 10px;
        margin: 0 0 20px;
    }
    .calen_div {
        background: #f3f2f2;
        text-align: center;
        display: inline-block;
        border-radius: 3px;
        width: 100%;
        text-align: center;
    }
    .clndr {
        display: block;
        width: 100%;
        padding: 20px;
    }
    .datepicker-inline {
        display: inline;
    }
    .datepicker table {
        margin: 0;
        display: inline-block;
    }
    .calen_blog_cont_sec {
        display: inline-block;
        width: 74%;
        margin-bottom: 60px;
    }
    .calen_blog_date {
        display: inline-block;
        width: 16%;
        padding: 0 0 40px;
        text-align: center;
        border-right: 1px solid #d7d7d7;
        margin-right: 4%;
        box-sizing: border-box;
        vertical-align: top;
    }
    .calen_blog_day {
        font-size: 28px;
        font-weight:700;
        display: block;
    }
    .calen_blog_month {
        font-size: 18px;
        display: block;
    }
    .calen_blog_year {
        font-size: 18px;
        display: block;
    }
    .calen_blog_title h2 {
        color: #000;
        margin: 15px 0;
        font-size: 20px;
        font-weight: bold;
    }
    .calen_blog_content {
        font-size: 16px;
    }
    .calen_blog_time {
        display: block;
        text-align: left;
        width: 100%;
        font-size:15px;
        color: #FF954B;
        margin: 5px 0;
    }
    .no_padd_calendar{
        padding: 0;
    }
    /****** Calender PAGE CODE ENDS ******/
    /****** DOOR KNOCKERS PAGE CODE STARTS ******/
    .door-header {
        font-family: "Oswald",sans-serif;
        font-size: 40px !important;
        font-weight: 400;
        color: #ff822b;
        text-transform: uppercase;
        margin-bottom: 40px !important;
        margin-top: 0px;
    }
    .attempt-form-div {
        margin:0px 15px;
        background: url('../../images/door-knockers-bg.jpg') no-repeat left top;
        background-size:cover;
        padding:40px 50px;
    }
    .delivery-header h4 {
        display:inline-block;
        vertical-align: bottom;
        margin:0px 10px;
        color: #333333;	
        font-family: 'Noto Sans', sans-serif;
        font-size: 24px;	
        font-weight: bold;
    }
    .delivery-header span {
        display:block;
        margin:15px 0px 20px;
        color: #333333;	
        font-family: 'Noto Sans', sans-serif;
        font-size: 16px;
        font-style:italic;
    }
    .attempt-form {
        display:inline-block;
        width:69%;
    }
    .attempt-form label {
        font-weight:normal;
        display:inline-block;
        width:20%;
    }
    .attempt-form input {
        background:transparent;
        border: none;
        border-bottom: 1px solid #0A091C;
        width: 75%;
        padding: 10px;
    }
    .attempt-check-div {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        padding: 20px;
        text-align:center;
    }
    .attempt-check-div label {
        position: relative;
        padding-left: 45px;
        font-family: "Noto Sans",sans-serif;
        font-size: 20px;
        font-weight:400;
        cursor: pointer;
        margin-top:40px;
        text-tranform:uppercase;
        display:block;
    }
    .attempt-check-div label:before, label.attempt-label:after {
        font-family: 'FontAwesome';
        font-size: 25px;
        font-weight:400;
        position: absolute; 
        top: -1px; 
        left: 67px;
    }
    .attempt-check-div label:before {
        content: '\f096'; 
    }
    .attempt-check-div label:after {
        content: '\f046'; 
        max-width: 0;
        overflow: hidden;
        opacity: 0.5;
        transition: all 0.35s;
    }
    .attempt-check-div input[type="radio"] {
        display: none;
    }
    .attempt-check-div input[type="radio"]:checked + label:after {
        max-width: 25px; 
        opacity: 1;
    }
    .attempt-check-div input[type="radio"] + label:before, .attempt-check-div input[type="radio"] + label:after { 
        color:#333333 !important; 
    }
    .attempt-line p {
        padding:0px;
        margin:40px 0px 15px;
    }
    .extra-lines-door {
        margin:30px 0px 50px;
    }
    .extra-lines-door p {
        line-height:26px;
        text-transform: uppercase;
    }
    .door-knockers-pack {
        margin:0px 15px;
    }
    .door-knockers-pack p {
        padding:0px;
    }
    .door-knockers-pack-1, .door-knockers-pack-2, .door-knockers-pack-3 {
        margin:0px 0px 20px;
    }
    .door-knockers-pack-1 p, .door-knockers-pack-2 p {
        color:#ff822b;
        font-weight:700;
        margin-top:20px;
    }
    .door-knockers-pack-2 span{
        display:block;
        color:#808080;
        font-weight:700;
        margin-top:20px;
    }
    .door-knockers-pack-3 p{
        color:#90bd07;
        font-weight:700;
        margin-top:20px;
    }
    .pack-options-div {
        margin:20px 0px;
    }
    .pack-options-div div label {
        position: relative;
        padding-left: 45px;
        font-family: "Noto Sans",sans-serif;
        font-size: 16px;
        font-weight:700;
        cursor: pointer;
        margin:0px;
        text-tranform:uppercase;
        display:block;
        color:#808080;
        line-height:32px;
    }
    .pack-options-div div label:before, label.pack-label:after {
        font-family: 'FontAwesome';
        font-size: 25px;
        font-weight:400;
        position: absolute; 
        top: -1px; 
        left: 2px;
    }
    .pack-options-div div label:before {
        content: '\f1db'; 
    }
    .pack-options-div  div label:after {
        content: '\f058'; 
        max-width: 0;
        overflow: hidden;
        opacity: 0.5;
    }
    .pack-options-div div input[type="radio"] {
        display: none;
    }
    .pack-options-div div input[type="radio"]:checked + label:after {
        max-width: 25px; 
        opacity: 1;
    }
    .pack-options-div input[type="radio"] + label:before, .pack-options-div input[type="radio"] + label:after { 
        color:#ff822b !important; 
    }
    /****** DOOR KNOCKERS PAGE CODE ENDS ******/


    /* Start Login Pop up CSS */
    a{
        color: #FF954B;
        cursor: pointer;
    }
    .login_container{
        background-image: url(../../images/login_comp.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #000;
        height:100%;
        width:100%;
        display:table;
        padding-top: 50px;
        padding-bottom:50px;
        box-sizing: border-box;
        padding-left:0px;
        padding-right:0px;
    }
    .middle_content_box {
        vertical-align:middle;
        height:100%;
        display:table-cell;
    }
    .pop_up_logo{
        display: inline-block;
        width: 100%;
        margin: 0 0 20px;
    }
    .pop_up_logo > img {
        max-width: 300px;
    }
    .login_popup_box {
        display: inline-flex;
        overflow: hidden;
    }
    .login_content {
        background-image: url("../../images/imgHolder.png");
        border: medium none;
        box-sizing: border-box;
        display: inline;
        margin: 0;
        min-height: 500px;
        padding: 100px 40px;
        width: 50%;
    }
    .login_form_content {
        background: #fff none repeat scroll 0 0;
        border: medium none;
        box-sizing: border-box;
        display: inline;
        margin: 0;
        padding: 40px 70px;
        width: 50%;
    }
    .login_content h2 {
        color: #FFFFFF;
        font-family: "Noto Sans";
        font-size: 80px;
        font-weight: bold;
        line-height: 80px;
        margin: 0px;
    }
    .login_content h2:nth-child(2) {
        margin-bottom:30px;
    }
    .login_content p {
        color: #ffffff;
        font-family: "Noto Sans";
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
    }
    .login_form_content h3{
        color: #929292;
        font-family: "Noto Sans";
        font-size: 44px;
        font-weight: bold;
        display: inline-block;
    }
    .login_form_content p {
        color: #7b879e;
        display: inline-block;
        font-family: "Noto Sans";
        font-size: 14px;
        line-height: 20px;
        margin: 10px 0;
    }
    form input {
        border: none;
        border-bottom: 2px solid #929292;
        width: 100%;
        padding: 10px 0px;
    }
    .login_form_content form input {
        margin-bottom:10px;
    }
    .remember_me_login label {
        width: 100%;
        display: inline-block;
        font-size: 14px;
        font-weight:400;
        color: #7b879e;
        line-height:normal;
    }
    form input[type="checkbox"]{
         -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 13px;
    height: 13px;
    margin: 0;
    margin-right: 4px;
    display: block;
    float: left;
    position: relative;
    cursor:pointer;
	border: 1px solid;
	margin-top:4px;
    }
	input[type='checkbox']:after {
		content:"";
		vertical-align: middle;
		text-align: center;
		line-height: 13px;
		position: absolute;
		cursor: pointer;
		height: 13px;
		width: 13px;
		left:0px;
		top:0px;
		font-size:10px;
	}
	input[type='checkbox']:checked:after {
		content:'\2714';
		color: #000;
	}
    .remember_me_login {
        display: inline;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .forgot_pwd {
        display: inline;
        padding-bottom: 10px;
        padding-top: 10px;
        text-align: right;
    }
    .forgot_pwd a{
        font-size: 14px;
        font-weight:400;
        color: #7b879e;
        line-height:normal;
    }
    .forgot_pwd a:hover{
        color: #ff954b;
    }
    .login_submit {
        text-align: right;
    }
    form input[type="submit"] {
        background: #ff954b none repeat scroll 0 0;
        border: 1px solid #ff954b;
        border-radius: 25px;
        color: #fff;
        display: inline;
        padding: 10px 40px;
        width: auto;
    }
    /* End Login Pop up CSS */

    /* Start Help Tab page css */
    .help_tab_containor{
        display: inline-block;
        width: 100%;
    }
    .nav-tabs {
        border-bottom: 1px solid #ff954b;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: #ff954b none repeat scroll 0 0;
        border-color: #ff954b #ff954b transparent;
        border-image: none;
        border-style: solid;
        border-width: 1px;
        color: #fff;
        cursor: default;
    }
    .nav-tabs > li > a {
        border-radius: 0;
        margin-right: 0;
    }
    .form_tag {
        display: inline-block;
        margin: 15px 10px;
        vertical-align: top;
        width: auto;
    }
    .input-group-btn {
        display: inline-block;
        vertical-align: top;
        width: auto;
    }
    .submit_btn_sec {
        border: 1px solid #ccc;
        border-radius: 5px;
        display: inline-block;
        overflow: hidden;
        width: auto;
    }
    .submit_btn_sec button {
        border: medium none;
        padding: 8px 10px 8px 14px;
        height: 34px;
    }
    .submit_btn_sec .btn-default:hover {
        background-color: #ff954b;
        color: #fff;
    }
    .submit_btn_sec .form-control {
        border: medium none;
        box-shadow: none;
    }
    .ticket_tab_sec .form-control {
        display: inline;
        max-width: 160px;
        min-width: 100px;
        width: auto;
    }
    .ticket_tab_sec input.form-control {
        display: inline;
        width: 100px;
    }
    .footable-header {
        background: #d7d7d7 none repeat scroll 0 0;
    }
    .footable-header th {
        font-size: 16px !important;
        padding: 18px 6px !important;
    }
    /* End Help Tab page css */


    /*Pay Invoice*/
    .ginput_full.address_line_1 {
        float: left;
        padding-right: 8px;
        width: 50%;
    }
    .ginput_full.address_line_2 {
        float: right;
        padding-left: 8px;
        width: 50%;
    }
    .bill-form .address_state {
        display: inline-block;
        margin-right: 5%;
        width: 45%;
    }
    .ginput_card_field select
    {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: currentcolor currentcolor hsl(0, 0%, 67%) !important;
        border-image: none !important;
        border-style: none none solid !important;
        border-width: medium medium 1px !important;
        font-style: italic !important;
        margin-right:5px !important;
        padding: 11px 0px !important;
        width: 150px !important;
    }
    .ginput_right.address_state {
        width: 25%;
    }
    .address_state select 
    {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: currentcolor currentcolor hsl(0, 0%, 67%) !important;
        border-image: none !important;
        border-style: none none solid !important;
        border-width: medium medium 1px !important;
        font-style: italic !important;
        margin-right:5px !important;
        padding: 11px 0px !important;
        width:100% !important;
    }
    .address_state{width:25% !important}

    .ginput_left.address_zip {
        float: right;
        width: 23% !important;
    }
    ul li .check::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 15px;
      width: 15px;
      top: 5px;
      left: 5px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
  }

  input[type=radio]:checked ~ .check {
      border: 5px solid #0DFF92;
  }

  input[type=radio]:checked ~ .check::before{
      background: #0DFF92;
  }

  input[type=radio]:checked ~ label{
      color: #0DFF92;
  }

  element.style {
    display: block;
}
*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
.gform_footer input[type="submit"] {
    background-color: hsl(25, 100%, 65%);
    border: 1px solid hsl(25, 100%, 65%);
    display: block;
    margin: 10px 0 20px;
    padding: 15px 40px;
}
.gform_wrapper .ginput_complex .ginput_cardinfo_right input.ginput_card_security_code{padding: 13px 20px !important}






/*classes css start*/
#wpcw_fe_course {border-style:none !important;font-size: 14px !important;}


#wpcw_fe_course .wpcw_fe_module_group_1{background-color: #ffffff;
    color: #161518;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    font-weight: normal !important;
    padding: 15px 25px;}

    #wpcw_fe_course .wpcw_fe_module td {  background-color: #f5f5f5;
        color: #161518;
        font-family: "Oswald",sans-serif;
        font-size: 20px;
        font-weight: normal;
        padding: 15px 25px;}
        #wpcw_fe_module_group_3{margin-bottom:10px;


        }
        .wpcw_fe_unit{font-family: "Noto Sans",sans-serif;font-size: 14px;font-weight: 400;}
        .wpcw_fe_unit a { font-weight:normal !important; }
        .wpcw_fe_unit a:hover { color:#FF954B; text-decoration:underline;  }
        .wpcw_fe_module_group_1{ font-family: "Noto Sans",sans-serif;
        font-size: 14px;
        font-weight: 400;}

        .wpcw_fe_unit td{font-family: "Noto Sans",sans-serif; color: #161518;font-size: 14px;font-weight: 400;}

        #wpcw_fe_course .wpcw_fe_module td { background: none !important; border-bottom:none; }
        .wpcw_fe_module_des td { border-bottom: none !important; }
        #wpcw_fe_course td {padding: 15px 25px;}
        #wpcw_fe_module_group_1 > td {width: 50%;}
        .wpcw_fe_unit td:last-child { width:2%; text-align:right; }
        .wpcw_fe_unit_progress {
            width: 2%;
        }




        /*Form door-knockers css start*/


        #field_3_8, #input_3_8_2_month, #input_3_8_2_year{
            font-style: italic;
            margin: 0 30px 30px 0;
            padding: 10px 20px;
            
        }

        .gform_wrapper li.gfield.gfield_creditcard_warning {background:none !important;border-bottom:none !important; border-top: none !important;}
        .gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {padding: 10px !important;}


        .gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
         font-size: 25px;
         font-weight: 400;
     }

     .bill-form input {--margin-top:0 !important; }
     .gform_wrapper .gfield_radio li label {color: #808080;
        cursor: pointer;
        font-family: "Noto Sans",sans-serif;
        font-size: 16px !important;
        font-weight: 700;
        line-height: 32px;}
        .gform_wrapper .gfield_radio li label {margin: 0 15px !important;}
        .gfield_description{color: #ff822b;font-weight: 700;margin-top: 20px;font-size: 14px !important;}
        .gform_wrapper .top_label .gfield_label {
            font-family: "Noto Sans",sans-serif;
            font-size: 14px;

        }

        .ginput_shipping_price {
           color: #808080;
           font-weight: 700;
           margin-top: 20px;
           font-family: "Noto Sans",sans-serif;
           font-size: 18px !important;
       }

       .gform_wrapper .top_label span.ginput_total {
          font-family: "Noto Sans",sans-serif;
          font-size: 14px;
          color: #90bd07;
          font-weight: 700;
      }